<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="">
            <img class="logo" src="assets/img/flooop.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="{{ routUrl }}" >
            <i class="material-icons">
                {{ icon }}
            </i>
            {{ title }}
        </a>
    </span>

</mat-toolbar>
