<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input [(ngModel)]="product.name" name="name" matInput placeholder="Nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="product.price" name="price" matInput placeholder="Preço R$" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color='warn'>
        Excluir
    </button>
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>
