<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem vindo!
    </mat-card-title>
    
    <mat-card-subtitle class="subtitle">
        Sistema de cadastro de produtos
    </mat-card-subtitle>
</mat-card>