<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input [(ngModel)]="product.name" name="name" matInput placeholder="Nome">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="product.price" name="price" matInput placeholder="Preço R$">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" color='primary'>
        Atualizar
    </button>
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>
