<!--<section>-->
<!--  <article>-->
<!--    <h3>Estudando Interpolação</h3>-->
<!--    <p>Usando a interpolação: {{ url }}</p>-->
<!--  </article>-->
<!--  <article>-->
<!--    <h3>Estudando Property Binding</h3>-->
<!--    <img [src]="urlImage">-->
<!--  </article>-->
<!--</section>-->

<!--<section>-->
<!--  <article>-->
<!--    <h3>Event Binding</h3>-->
<!--    <div>-->
<!--      &lt;!&ndash;-->
<!--        O evento usa ( ) para informar o uso de EVENTO-->
<!--      &ndash;&gt;-->
<!--      <button (click)="botaoClicado()"-->
<!--        class="btn btn-primary">Event Binding-->
<!--      </button>-->

<!--      <br><br>-->

<!--      <input type="text" (keyup)="onKeyUp($event)">-->
<!--      <label>{{ texto }}</label>-->
<!--    </div>-->
<!--  </article>-->
<!--</section>-->

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    {{ nomeCurso }}
    <app-input-property [nome] ="nomeCurso"> </app-input-property>

    <br><br>

    <h3>Contador</h3>
    <app-output-property [valor]="valorInicial" ></app-output-property>
  </article>
</section>
