<mat-toolbar class="footer">
    <span>
        Desenvolvido por 
        <i class="material-icons v-middle" appRed>
            copyright
        </i>
         por <strong>Walter Guedes</strong>
    </span>
</mat-toolbar>